.carousel {
    position: relative;
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        border: none;
        background-color: #fff;
        position: absolute;
        transform: translateY(50%);
        bottom: 50%;
        right: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        li {
            list-style: none;
            margin: 0 10px;
            border: none;
        }
        button {
            font-size: 0;
            border: none;
            background: none;
            width: 10px;
            height: 10px;
            background-color: $main-color;
            border-radius: 50%;
        }
        .slick-active>button {
            background-color: transparent;
            border: solid 2px $main-color;
        }
    }

}