.carousel {
    position: relative;
    padding: 30px 0;
    &__inner {
        width: 950px;
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
    }
    &__inner_mini {
        width: 1200px;
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
        .slick-current {
            transform: scale(1.1);
            transition: all 1s;
        }
    }
    .slick-prev {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        border: none;
        background-color: #fff;
        position: absolute;
        transform: translateY(50%);
        bottom: 50%;
        right: -66px;
        img {
            width: 31px;
            height: 50px;
        }
    }
<<<<<<< HEAD
    
    
=======
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        li {
            list-style: none;
            margin: 0 10px;
            border: none;
        }
        button {
            font-size: 0;
            border: none;
            background: none;
            width: 10px;
            height: 10px;
            background-color: $main-color;
            border-radius: 50%;
        }
        .slick-active>button {
            background-color: transparent;
            border: solid 2px $main-color;
        }
    }

>>>>>>> c831c7ed0aa5e91f753048aa3d2f8b540bbf3619
}